*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*

The below CSS code is for navbar.

*/

.navbar{
    width: 100%;
    height: 10vh;
    background-color: black
}

.navbar .logo a img {
    width: 88px;
    float: left;
    height: 8.9vh;
}

.navbar .nav ul li {
    display: inline;
    width: 100%;
    float: none;
    text-align: center;
}
.nav a{
    margin: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-decoration: none;
}

.nav {
     text-align: end;
     padding: 15px;
}

/*
The below code is for body part except nav. 
*/

body{
    background-color: rgb(228, 221, 221);
}

.container {
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

a{
    text-decoration: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-facebook {
    color: white;
    border-color: #1877f2;
    background-color: #1877f2;
}

.btn-facebook:hover {
    background-color: #145db2;
}

.btn-twitter {
    color: white;
    border-color: #1da1f2;
    background-color: #1da1f2;
}

.btn-instagram{
    color: white;
    border-color: #1da1f2;
    background-color: #1da1f2;
}

.btn-instagram:hover{
    background-color: #0d6ca7;

}


.btn-twitter:hover {
    background-color: #198ed6;
}

.btn-linkedin {
    color: white;
    border-color: #0077B5;
    background-color: #0077B5;
}

.btn-linkedin:hover {
    background-color: #005582;
}

.btn-gmail {
    color: white;
    border-color: #d44638;
    background-color: #d44638;
}

.btn-gmail:hover {
    background-color: #b03527;
}